th[data-v-24504aa5] {
  padding-right: 0.5rem;
}
.tr_hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.tr_hover:hover {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
}
