/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/roboto-v50-latin-regular.woff2") format("woff2"),
    url("/fonts/roboto-v50-latin-regular.woff") format("woff");
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/roboto-v50-latin-500.woff2") format("woff2"),
    url("/fonts/roboto-v50-latin-500.woff") format("woff");
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v50-latin-700.woff2") format("woff2"),
    url("/fonts/roboto-v50-latin-700.woff") format("woff");
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/raleway-v28-latin-regular.woff2") format("woff2"),
    url("/fonts/raleway-v28-latin-regular.woff") format("woff");
}

/* dosis-regular - latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/dosis-v27-latin-regular.woff2") format("woff2"),
    url("/fonts/dosis-v27-latin-regular.woff") format("woff");
}

/* anton-regular - latin */
@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/anton-v23-latin-regular.woff2") format("woff2"),
    url("/fonts/anton-v23-latin-regular.woff") format("woff");
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
    url("/fonts/montserrat-v25-latin-regular.woff") format("woff");
}

/* nova-mono-regular - latin */
@font-face {
  font-family: "Nova Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/nova-mono-v18-latin-regular.woff2") format("woff2"),
    url("/fonts/nova-mono-v18-latin-regular.woff") format("woff");
}
